* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  background-color: #bb2339;
  height: 70px;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
.bg-color {
  background-color: #bb2339;

}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.link-ul {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 115px;
}
.link-li {
  list-style: none;
}

.link {
  margin-left: 550px;
  display: flex;
}
.menu-a {
  text-decoration: none;
  color: white;
}
.turkiya-btn {
  margin-right: 50px;
  border: 1px solid #fff;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin-top: 5px;
  color: #fff;
  background-color: #bb2339;
}
.span{
    margin-top: 50px;
}
.span-1{
    color: #B0B0B0;
}
.span-2{
    color: #bb2339;
}

.cont{
  width: 1000px;
  height: 800px;
  /* background-color: aqua; */
  margin: 0 auto;
}
.abarout{
  text-align: center;
  margin-top: 80px;
}
.quis{
  display: flex;  
  justify-content: center;
  margin-top: 30px;
  color:  grey;
  font-family: sans-serif;
}
.ultra{
  display: flex;
  justify-content: center; 
  color: grey;
  font-family: sans-serif;
}
.pexel{
  width: 485px;
  margin-left: 260px;
  margin-top: 20px;
}

.port {
  background-color: #bb2339;
  height: 600px;
  margin-top: 350px;
}
.contack-turkish {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 300px;
}
.us {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}
.london {
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}
.phone {
  color: #fff;
  margin-bottom: 8px;
}
.ikonka {
  text-align: center;
  background-color: #bb2339;
  margin-top: 320px;
}
.online {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}
.align {
  text-align: center;
}
.newsletter {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
  top: 50px;
}
.subscribe {
  margin-bottom: 30px;
  font-size: 26px;
  color: #fff;
  position: relative;
  top: 50px;
}
.neser {
  margin-bottom: 20px;
  color: white;
  position: relative;
  top: 50px;
}
.colspan-one {
  background-color: #bb2339;
  width: 1200px;
  height: 380px;
  margin-left: 150px;
  border-radius: 20px;
  border: 1px  solid gray;
  position: relative;
  bottom: 850px;
}
.email {
  border-radius: 100px;
  border: 1px solid #333333;
  width: 580px;
  margin-left: 150px;
  padding: 10px 10px;
}
.control {
  margin-right: 445px;
  color: #333333;
  opacity: 0.5;
}
.never {
  display: flex;
  position: relative;
  top: 100px;
  left: 90px;
}

.senustes {
  border: 1px solid white;
  border-radius: 100px;
  margin-left: 50px;
  padding: 10px 30px;
  color: white;
}
.senustes:active{
  background-color: green;
}
.senustes:hover{
  background-color: yellow;
  color: cadetblue;
}
.twitter:hover{
  background-color: blue;
}
.instagram:hover{
  background-color: red;
}
.facebook:hover {
  background-color: blue;
}
.best {
  color: white;
  text-align: center;
}
.house {
  color: #fff;
  margin-bottom: 10px;
  font-size: 32px;
}
.friday {
  color: #fff;
  font-size: 16px;
}
.friday-1 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
.frame {
  height: 90px;
  margin-top: -35px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.phone-1{
  color: #fff;
}